$bgColor: #fff;

@mixin busBtn($bGcolor) {
    padding:0 .16rem;
    border-radius: .2rem;
    display: inline-block;
    text-align: center;
    font-size: .27rem;
    margin-left: .1rem;
    line-height: .7rem;
    color: #fff;
    background: $bGcolor;
}

@mixin ellpisis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}