$choosewidth=.5rem
$chooseheight=.5rem

ellipsis()
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis


//我的订单相关按钮
orderbtn()
  width:2rem
  height:1rem
  border:1px solid #ccc
  border-radius:1rem
  text-align:center
  line-height:1rem
  font-size:.35rem

//购物车页面底部
shopCarBottom()
  display:inline-block
  height:1rem
  line-height:1rem
  border-radius:1rem
  text-align:center
  color:#fff
  font-size:.35rem

